@import "scroll/scroll.css";

.thingy-area {
    height: 35px;
    padding: 0px 0px 3px 3px;
}

.control-area {
    height: 35px;
    padding: 0px 3px 3px 3px;
}

.thingy {
    width: 32px;
    height: 32px;
    
    border-bottom-left-radius: 10px;

    background: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0, rgba(256, 256, 256, .74)),
        color-stop(1, rgba(256, 256, 256, .11))
    );

    -webkit-box-shadow: 0px 0px 8px rgba(1, 1, 1, .3);

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .thingy-control {
        width: 64px;
        height: 32px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        background: -webkit-gradient(
            linear,
            left -75%,
            left 90%,
            color-stop(0, rgba(256, 256, 256, .64)),
            color-stop(1, rgba(256, 256, 256, .12))
        );

        -webkit-box-shadow: 0px 0px 8px rgba(1, 1, 1, .3);

        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
        
.thingy img, .thingy-control img {
    position: relative;
    opacity: 0.8;
}

.thingy img:hover, .thingy-control img:hover {
    opacity: 1.0;
}

.thingy img {
    top: 0px;
}

.thingy-control img {
    top: 2px;
}

.thingy-control img#add-icon {
    margin-right: 7px;
}

/* GENERAL */

body {
    margin: 0px;
    padding: 0px;

    font-size: 9pt;

    cursor: default;
    -webkit-user-select: none;

    font-family: "Sans";
    font-style: normal;
    text-shadow: 0px 1px 0px rgba(256, 256, 256, .24);
}

a {
    color: #7f601a;
    text-decoration: none;
}


/* WIDGET */

div.widget {
    padding: 5px;
}

div.background {
    padding: 10px;

    color: #0a0a0a;

    border-radius: 10px;

    outline-right: 5px solid red;

    background: -webkit-gradient(linear, left -18%, left 20%, from(rgba(250, 250, 250, .7)), 
    to(rgba(230, 230, 230, .48)));

    -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, .55);
}

div.background-on-container {
    padding: 10px;

    color: #0a0a0a;

    border-radius: 10px;

    outline-right: 5px solid red;
    
    background: rgba(255, 255, 255, .13);

    -webkit-box-shadow: none;
    
    border: 1px solid rgba(255, 255, 255, .2);
}

.section, .bright_section, .scrolled, .chooser, .scroll {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .15);
}

.section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;

    border-radius: 3px;

    background: rgba(256, 256, 256, .2);
    border: 1px solid rgba(256, 256, 256, .25);
}

.bright_section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;

    border-radius: 3px;
    color: #0a0a0a;

    background: rgba(256, 256, 256, .55);
    border: 1px solid rgba(256, 256, 256, .8);
}
/* CONTAINER == PANEL */

.panel-box {
    margin: 5px;
    }

.panel {
    
    padding: 5px;

    color: #0a0a0a;

    outline-right: 5px solid red;
    background: -webkit-gradient(linear, left -18%, left 20%, from(rgba(250, 250, 250, .7)), to(rgba(230, 230, 230, .48)));
    -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, .55);
}

.free-panel {
    border-radius: 10px;
}

.top-panel {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    margin-top: -5px;
}

.bottom-panel {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    margin-bottom: -5px;
}

.left-panel {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
    background: -webkit-gradient(linear, right top, left top, from(rgba(250, 250, 250, .7)), to(rgba(230, 230, 230, .45)));
    
    margin-left: -5px;
}

.right-panel {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    
    background: -webkit-gradient(linear, right top, left top, from(rgba(250, 250, 250, .7)), to(rgba(230, 230, 230, .45)));
}


/* BUTTONS */

input[type=button], input[type=submit], input[type=reset], button, .button {
    margin: 0px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;

    font-family: "Sans";
    font-size: 8pt;

    float: left;
}

.button {
    margin: 5px;
    color: #0a0a0a;

    cursor: default;

/*    border: 1px solid #545454;*/
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2)/*0px 0px 4px 0px rgba(0, 0, 0, .4)*/, inset 0px 1px 1px -1px rgba(256, 256, 256, 1), inset 0px -1px 0px 0px rgba(0, 0, 0, .05), inset 1px 0px 1px -1px rgba(256, 256, 256, .15), inset -1px 0px 1px -1px rgba(256, 256, 256, .15);
/*    text-shadow: 0px 0px 4px #000000;*/
    text-shadow: 0px 1px 0px rgba(256, 256, 256, .24);

    background: -webkit-gradient(linear, left -10%, left 70%, to(rgba(180, 180, 180, .45)), from(rgba(245, 245, 245, .5)));
    background-color: rgba(255, 255, 255, .3);
}

    .button:hover {
        background: -webkit-gradient(linear, left -10%, left 70%, to(rgba(160, 160, 160, .45)), from(rgba(230, 230, 230, .5)));
        background-color: rgba(255, 255, 255, .32);

        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1)/*0px 0px 4px 0px rgba(0, 0, 0, .4)*/, inset 0px 1px 1px -1px rgba(256, 256, 256, .68), inset 0px -1px 1px 0px rgba(200, 200, 200, .05), inset 0px -1px 1px -1px rgba(256, 256, 256, .15), inset 1px 0px 1px -1px rgba(256, 256, 256, .15), inset -1px 0px 1px -1px rgba(256, 256, 256, .15), 0px 0px 3px 0px rgba(207, 176, 127, .18);
    }

    .button:active {
        background: -webkit-gradient(linear, left 0%, left 80%, to(rgba(240, 240, 240, .6)), from(rgba(170, 170, 170, .55)));
        background-color: rgba(255, 255, 255, .34);
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1)/*0px 0px 4px 0px rgba(0, 0, 0, .4)*/, inset 0px 1px 1px -1px rgba(256, 256, 256, .68), inset 0px -1px 1px 0px rgba(200, 200, 200, .05), inset 0px -1px 1px -1px rgba(256, 256, 256, .15), inset 1px 0px 1px -1px rgba(256, 256, 256, .15), inset -1px 0px 1px -1px rgba(256, 256, 256, .15), inset 0px 0px 5px 0px rgba(0, 0, 0, .2), 0px 0px 3px 0px rgba(207, 176, 127, .18);
    }


/* TEXT INPUTS */

input[type=text], input[type=password], textarea {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;

    font-family: "Sans";
}

input.dark_input {
    color: #f2f2f2;

    border: 1px solid #545454;
    background: #343434;

    -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px -13px 15px -5px #515151;
    text-shadow: 0px 0px 4px #000000;
}

    input.dark_input:focus {
        background: #303030;
        -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px -13px 15px -5px #4a4a4a;
        outline: 0px;
    }

input.bright_input {
    color: #121212;

    border: 1px solid #a7a7a7;
    background: #f3f3f3;

    -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px 9px 13px #bababa;
    text-shadow: 0px 0px 4px #aaaaaa;
}

    input.bright_input:focus {
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 6px 0px #343434, inset 0px 9px 13px #c8c8c8;
        outline: 0px;
    }


/* SCROLLED */

.scrolled {
    border-radius: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(256, 256, 256, .1);
}

    .scrolled .container {
        background-color: rgba(256, 256, 256, .1);

        padding-left: 2px;
        padding-right: 2px;
    }

    .scrolled .control_up {
        height: 13px;
        padding: 1px;

        text-align: center;

        background-color: rgba(256, 256, 256, .1);

        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        cursor: pointer;
    }

    .scrolled .control_down {
        height: 13px;
        padding: 1px;

        text-align: center;

        background-color: rgba(256, 256, 256, .1);

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        cursor: pointer;
    }



/* CHOOSER */

.chooser {
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(256, 256, 256, .25);
    background-color: rgba(80, 80, 80, .07);
    border-radius: 7px;
    display: table;
    width: 100%;
    padding: 2px;
    
    -webkit-box-shadow: 0px 0px 1px 0px rgba(256, 256, 256, .1), inset 0px 0px 1px rgba(0, 0, 0, .16), 0px 0px 3px 0px rgba(0, 0, 0, .15);
    }

    .chooser .option {
        display: table-cell;
        text-align: center;

        padding: 3px;
        /*border-left: 1px solid rgba(256, 256, 256, .1);*/

        opacity: .75;
        cursor: pointer;
        text-shadow: 0px 1px 0px rgba(256, 256, 256, .24);
        border-radius: 4px;
        }

        .chooser .option:hover {
/*            background: rgba(256, 256, 256, .04);*/
            text-shadow: 0px 1px 0px rgba(256, 256, 256, .24), 0px 0px 5px rgba(256, 256, 256, .7);
            opacity: 1;
            }

        .chooser .option:first-child {
            border-left: none;
/*            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;*/
            }

        .chooser .option:last-child {
/*            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;*/
            }

    .chooser .option.active {
        /*border-left-color: rgba(256, 256, 256, 0);*/
        background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .35)), to(rgba(256, 256, 256, .08)));
        /*background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(10, 10, 10, .1)), to(rgba(0, 0, 0, .6)));*/
        /*background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .25)), to(rgba(256, 256, 256, .09)));*/
        opacity: 1;
        text-shadow: 0px 1px 0px rgba(256, 256, 256, .24), 0px 0px 5px rgba(256, 256, 256, .49);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .46), inset 0px 1px 0px 0px rgba(256, 256, 256, .11), inset 0px -1px 0px 0px rgba(256, 256, 256, .06);
        }

        .chooser .option.active:active {
            background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .08)), to(rgba(256, 256, 256, .28)));
            opacity: 1;
            }

        .chooser .option.active:hover {
            text-shadow: 0px 1px 0px rgba(256, 256, 256, .24), 0px 0px 5px rgba(256, 256, 256, .9);
            background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .45)), to(rgba(256, 256, 256, .15)));
            /*background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(30, 30, 30, .05)), to(rgba(10, 10, 10, .6)));*/
            /*background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .34)), to(rgba(256, 256, 256, .12)));*/
            opacity: 1;
            }


.chooser-tabs .tab {
    display: none;
}

    .chooser-tabs .tab.active {
        display: block;
    }
    
    
/* MISC */

.green, .green:hover, .green:active {
    border-color: darkgreen;
    background-color: #008811;
}

.red, .red:hover, .red:active {
    border-color: darkred;
    background-color: #ca2000;
}

.blue, .blue:hover, .blue:active {
    border-color: darkblue;
    background-color: #00247f;
}

.dialog {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(40, 40, 40, .95);
    -webkit-box-shadow: 0px 0px 5px rgba(256, 256, 256, .5);
}
.overlay {
    display: none;
    z-index: 999;
    background-color: rgba(40, 40, 40, .8);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
}


/* SIMPLE DIALOG */

.simple-dialog {
    text-align: center;
    
    width: 100%;
    
    margin: auto;
    border-radius: 5px;
    
    padding-top: 20px;
}

.simple-dialog-text {
    color: #ffffff;
    text-shadow: 0px -1px 0px #000;
}

.simple-dialog-buttons {
    text-align: center;
    padding-top: 20px;
}

.simple-dialog-buttons .button {
    float: none;
    display: inline;
}
