/* GENERAL */

body {
    margin: 0px;
    padding: 0px;

    font-size: 9pt;

    cursor: default;
    -webkit-user-select: none;

    font-family: "Sans";
    font-style: normal;
}

a {
    color: #cfb07f;
    text-decoration: none;
}


/* WIDGET */

div.widget {
    padding: 5px;
}

div.background {
    padding: 10px;

    color: #efefef;

    border-radius: 10px;

    outline-right: 5px solid red;

    background: -webkit-gradient(linear, left -18%, left 20%, from(rgba(100, 100, 100, .75)), to(rgba(0, 0, 0, .75)));

    -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, .55);
}

.section, .bright_section, .scrolled, .chooser {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .25);
}

.section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;

    border-radius: 3px;

    background: rgba(0, 0, 0, .2);
    border: 1px solid rgba(256, 256, 256, .2);
}

.bright_section {
    margin: 5px;
    padding: 4px;

    border-radius: 3px;
    color: #0a0a0a;

    background: rgba(256, 256, 256, .5);
    border: 1px solid rgba(256, 256, 256, .8);
}

/* BUTTONS */

input[type=button], input[type=submit], input[type=reset], button, .button {
    margin: 0px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    font-family: "Sans";
    font-size: 8pt;

    float: left;
}

.button {
    margin: 5px;
    color: #efefef;

    cursor: pointer;

    border: 1px solid #545454;
    border-radius: 4px;

    -webkit-box-shadow: 0px 0px 6px 0px #252525;
    text-shadow: 0px 0px 4px #000000;

    background: -webkit-gradient(linear, left -10%, left 70%, to(rgba(30, 30, 30, .7)), from(rgba(70, 70, 70, .7)));
}

    .button:hover {
        background: -webkit-gradient(linear, left -10%, left 70%, to(rgba(35, 35, 35, .72)), from(rgba(75, 75, 75, .72)));
    }

    .button:active {
        background: -webkit-gradient(linear, left 0%, left 80%, to(rgba(70, 70, 70, .7)), from(rgba(30, 30, 30, .7)));
    }


/* TEXT INPUTS */

input[type=text], input[type=password], textarea {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;

    font-family: "Sans";
}

input.dark_input {
    color: #f2f2f2;

    border: 1px solid #545454;
    background: #343434;

    -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px -13px 15px -5px #515151;
    text-shadow: 0px 0px 4px #000000;
}

    input.dark_input:focus {
        background: #303030;
        -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px -13px 15px -5px #4a4a4a;
        outline: 0px;
    }

input.bright_input {
    color: #121212;

    border: 1px solid #a7a7a7;
    background: #f3f3f3;

    -webkit-box-shadow: 0px 0px 6px 0px #252525, inset 0px 9px 13px #bababa;
    text-shadow: 0px 0px 4px #aaaaaa;
}

    input.bright_input:focus {
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 6px 0px #343434, inset 0px 9px 13px #c8c8c8;
        outline: 0px;
    }


/* SCROLLED */

.scrolled {
    border-radius: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(256, 256, 256, .1);
}

    .scrolled .container {
        background-color: rgba(256, 256, 256, .075);

        padding-left: 2px;
        padding-right: 2px;
    }

    .scrolled .control_up {
        height: 13px;
        padding: 1px;

        text-align: center;

        background-color: rgba(256, 256, 256, .075);

        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        cursor: pointer;
    }

    .scrolled .control_down {
        height: 13px;
        padding: 1px;

        text-align: center;

        background-color: rgba(256, 256, 256, .075);

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        cursor: pointer;
    }


/* CHOOSER */

.chooser {
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(256, 256, 256, .1);
    background-color: rgba(256, 256, 256, .075);
    border-radius: 4px;
    display: table;
    width: 100%;
    }

    .chooser .option {
        display: table-cell;
        text-align: center;

        padding: 3px;
        border-left: 1px solid rgba(256, 256, 256, .1);

        opacity: .8;
        cursor: pointer;
        }

        .chooser .option:hover {
            background: rgba(256, 256, 256, .05);
            opacity: 1;
            }

        .chooser .option:first-child {
            border-left: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            }

        .chooser .option:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            }

    .chooser .option.active {
        border-left-color: rgba(256, 256, 256, 0);
        background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .32)), to(rgba(256, 256, 256, .1)));
        opacity: 1;
        }

        .chooser .option.active:active {
            background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .14)), to(rgba(256, 256, 256, .32)));
            opacity: 1;
            }

        .chooser .option.active:hover {
            background: -webkit-gradient(linear, left -18%, left 90%, from(rgba(256, 256, 256, .36)), to(rgba(256, 256, 256, .14)));
            opacity: 1;
            }


/* MISC */

.green, .green:hover, .green:active {
    border-color: darkgreen;
    background-color: green;
}

.red, .red:hover, .red:active {
    border-color: darkred;
    background-color: red;
}

.dialog {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(40, 40, 40, .95);
    -webkit-box-shadow: 0px 0px 5px rgba(256, 256, 256, .5);
}
.overlay {
    display: none;
    z-index: 999;
    background-color: rgba(40, 40, 40, .8);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
}
