[Desktop Entry]
Type=Melange Skin
Name=Default
Comment=The best test service available!
Icon=foobar
File=index.html

X-Cream-Author=Sebastian Billaudelle
X-Cream-License=GPLv3
X-Cream-Homepage=http://cream-project.org
X-Cream-Mail=stein@cream-project.org
