.scroll {
	position: relative;
	display: block;

    overflow: scroll;
    
    border-radius: 3px;

    padding: 6px;
    background: rgba(256, 256, 256, .075);

    border: 1px solid rgba(256, 256, 256, .1);
}

    .scroll .container {
    }

.scrollControlsY {
	display: block;
	position: absolute;

	top: 0;
	right: 0;

	height: 100%;
	width: 10px;
}

    .scrollBar {
	    display: block;
	    position: absolute;

	    top: 0px;
	    right: 0;
	    bottom: 0px;

	    width: 8px;

        border-radius: 10px;
    }

        .scrollHandle {
	        display: block;
	        position: absolute;

	        top: 0px;
	        right: 0;

	        width: 10px;
            padding-bottom: 7px;

	        cursor: default;
        }

            .scrollHandleBG {
	            display: block;
	            position: relative;

	            height: 100%;
	            width: 4px;
                margin: 2px;

	            background: #000;
                border-radius: 10px;
            }

                .scrollHandleBG:hover {
	                background: #0a0a0a;
                }
